*{
  font-family: Arial, sans-serif;
}

.jobseeker-home {
  margin-top: 150px;
}
.title-home-section{
    font-size: 50px;
   text-align: center;

}
.offers-list {
    width: 600px;
    margin: auto;
   
}

