
*{
    font-family: Arial, sans-serif;
    overflow-y: auto;
    
  }

.container-home{
  margin-top:100px;
}
.background-image {
  background-size: cover; /* Cover the entire section */
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.title-home {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 50px;
}
